.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 60vh;
    width: 60vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.logo-img{
    margin-bottom: 2em;
}

.card-button{
    height: 40px;
    width: 400px;
    background-color: #644ce3;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
}

.error-message{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff9e99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}

@media only screen and (max-width: 500px) {
    .container{
        height: 100vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        padding-right: 0;
    }
    .card{
        margin-top: 25%;
        height: 100%;
        width: 100%;
        margin-left: 6%;
        margin-right: 0;
        padding: 0;
    }

    .card-button{
        margin: 10%;
        width: 100%;
        text-align: center;
    }

    .error-message{
      
        width: 90%;
        text-align: center;
    }
  }

  @media only screen and (max-width: 380px) {

    .container{
        height: 100vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        padding-right: 0;
    }
    .card{
        margin-top: 25%;
        height: 100%;
        width: 100%;
        margin-left: 6%;
        margin-right: 0;
        padding: 0;
    }

    .card-button{
        width: 95%;
        height: 40px;
    }
  }
